<mjml lang="en">
	<mj-head>
        <mj-title>Time’s running out on the Clearout!</mj-title>
        <mj-preview>Don’t wait, get to the All Out Clearout now for up to $14,600 in Total Discounts on select models.</mj-preview>

        <mj-breakpoint width="600px" />

        <mj-attributes>
            <mj-all font-family="Helvetica, Arial, sans-serif" />
            <mj-class name="full-width-image" padding="0" width="600px" />
            <mj-class name="partial-width-image" padding="0" width="475px" />
            <mj-class name="body-section" padding="0 0 20px 0" />
            <mj-class name="greyHeadlineText"   padding="0px 0px 5px 0px" color="#555858" font-size="14px" align="center" font-weight="400" text-transform="uppercase" 
              line-height="20px"/>
            <mj-class name="headlineText"   padding="0" color="#000000" font-size="23px" align="center" font-weight="600" text-transform="uppercase" 
              line-height="23px"  />
              <mj-class name="listImage" padding="0"/>
              <mj-class name="listImg" padding="0px 5px"/>
            <mj-class name="body-text" font-size="14px" font-weight="400" line-height="1.4" color="#000000" padding="20px" align="left" />
            <mj-class name="footer-text" font-size="11px" font-weight="400" line-height="1.4" color="#000000" padding="20px" />

            <mj-class name="cta" inner-padding="15px 0" padding="20px 20px 40px 20px" width="260px" font-weight="600" background-color="#E2121D" color="#ffffff"  border-radius="0" text-transform="capitalize" />
            <mj-class name="footer-cta" inner-padding="15px 0px" padding="5px" font-size="11px" font-weight="400" background-color="#808286" color="#ffffff" width="100%" border-radius="0" text-transform="capitalize"/>
            <mj-class name="bggrey" background-color="#E2E2E2" color="#000000" />
            <mj-class name="bgwhite" background-color="#FFFFFF" />
            <mj-class name="bgblack"  background-color="#000000"/>

        </mj-attributes>
        <mj-style inline="inline">
            sup, sub { font-size: 70%; vertical-align: text-middle; line-height: 0;}
            a { color: inherit; }
            .noU {text-decoration: none;}
                         ul {
                           list-style-image: url('https://assets.fcacontent.com/fca/DLREVNT/2020/SEPT/Multibrand_QBC_FR/img/arrow.png');
                           vertical-align:middle;
                           
    display: block;
    padding-top:10px;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; 
    margin-left: 21px;
    padding-left:0px;  
    
}


li{
    padding:0px;
    padding-bottom:10px;
 
}
li::before{
    
    color:red;
}
 
 .mb { display:block; height: 0px ; } 
.dt {display: none ; height: 0px ;}
table {
            border-collapse: collapse;
            border-spacing: 0; }
</mj-style>
<mj-raw>
<!--[if mso]>
    <style>
     sup, sub { font-size: 70%; vertical-align: text-top; line-height: 0;}
        
    </style>
<![endif]-->
</mj-raw>
<mj-style>

    .mb{ 
        display:none !important;
         height: 0px !important;
      } 
      .mb table  { 
        mso-hide:all !important;
         height: 0px !important;
      }  
      .dt{
       display: block  !important;
       height:100% !important;
       
       }
   @media (max-width:480px) { 
     .dt{
       display:none !important;
       height:0px !important;
        max-height:0px !important;
        height:0px !important;
        max-width:0px !important;
        line-height:0px !important;
        mso-hide:all !important;
        overflow:hidden !important;
     }
      .dt table  { 
          max-height:0px !important;
          height:0px !important;
          max-width:0px !important;
          line-height:0px !important;
          mso-hide:all !important;
          overflow:hidden !important;
      }  
      .dt img  { 
          max-height:0px !important;
          height:0px !important;
          max-width:0px !important;
          line-height:0px !important;
          mso-hide:all !important;
          overflow:hidden !important;
      }  
      
     .mb{
    display:block !important;
    height:100% !important;
  }

  
   }
   </mj-style>
           
    </mj-head>

    <mj-body background-color="#F3F3F3">
        <mj-section background-color="#ffffff" padding="10px">
     <mj-column padding="0px" vertical-align="middle">
     <mj-text align="right" padding="0px">
         <a xt="SPCLICKTOVIEW" href="#SPCLICKTOVIEW" name="View email online"  style="text-decoration:underline; color:#000000; font-size:11px" target="_blank">View email online</a>
     </mj-text>    
     </mj-column>        
    </mj-section>
        

        <!-- 5 brand logos -->
   <mj-section padding="20px" mj-class="bgwhite"  >
       <mj-group>
        <mj-column width="10%" padding="0px"></mj-column>  
    <mj-column padding="0px" width="17%" vertical-align="middle" background-color="#ffffff"> 
      <mj-image  
      padding="0px"
      alt="CHRYSLER" 
      src="img/chrysler.jpg"
      href="https://www.chrysler.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
       <mj-column width="5%" padding="0px" background-color="#ffffff"></mj-column> 
       <mj-column padding="0px" width="20%" vertical-align="middle" background-color="#ffffff">
      <mj-image  
      padding="0px"
      alt="DODGE logo" 
      src="img/dodge.png"
      href="https://www.dodge.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
       <mj-column width="5%" padding="0px" background-color="#ffffff"></mj-column> 
      <mj-column padding="0px" width="7%" vertical-align="middle" background-color="#ffffff">
      <mj-image  
      padding="0px"
      alt="FIAT logo" 
      src="img/fiat.png"
      href="https://www.fiatcanada.com/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
    <mj-column width="5%" padding="0px" background-color="#ffffff"></mj-column> 
       <mj-column padding="0px" width="10%" vertical-align="middle" background-color="#ffffff">
      <mj-image 
      padding="0px" 
      alt="Jeep logo" 
      src="img/jeep.jpg"
      href="https://www.jeep.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
    <mj-column width="5%" padding="0px" background-color="#ffffff"></mj-column> 
       <mj-column padding="0px" width="7%" vertical-align="middle" background-color="#ffffff">
      <mj-image  
      padding="0px"
      alt="RAM logo" 
      src="img/ram.png"
      href="https://www.ramtruck.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
     <mj-column width="10%" padding="0px" background-color="#ffffff"></mj-column> 
  </mj-group>
   </mj-section>



<mj-section mj-class="body-section bgwhite" padding-bottom="20px">
   <mj-column padding="0px">
    
    <mj-image 
    mj-class="full-width-image" 
    padding="0px" 
    alt="GET THE VEHICLE YOU WANT WITH CLICK ’N DRIVE" 
    src="img/AOCO-Header3.gif" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
/>
 
     <mj-image 
         padding="20px 40px" 
    width="600px"

    alt="FOR A GREAT DEAL, NOW’S THE TIME TO GET TO THE CLEAROUT."
    src="img/Headline.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
/>
 
    
  
<mj-text mj-class="body-text" padding-bottom="0px">
Dear %%FIRSTNAME%%, <br><br>
The <strong style="font-weight:600 !important;">ALL OUT CLEAROUT Sales Event</strong> is going fast. Don’t miss out on <strong style="font-weight:600 !important;">0% financing</strong> for up to <strong style="font-weight:600 !important;">96 months</strong><sup>¤</sup>, 
plus <strong style="font-weight:600 !important;">$2,250 in discounts</strong><sup>**</sup> on 2020 Ram 1500 models, OR get up to <strong style="font-weight:600 !important;">25% off MSRP</strong> for up to <strong style="font-weight:600 !important;">$14,600 in Total Discounts<sup>^</sup></strong> on other select 2020 models.
<br><br>
<strong style="font-weight:600 !important; color:#E2121D;">Don’t wait, the All Out Clearout ends November 2! </strong> 
 </mj-text>
   <mj-image 
     
    padding="30px 40px 0px 40px"
    width="400px"
    alt="click and drive"
    src="img/ClickNDrive.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
/>
<mj-text mj-class="body-text" padding-bottom="0px">
Shop, apply for financing, arrange a test drive, and finalize your purchase all online. <span style="white-space:nowrap;">You can even schedule</span> delivery of your vehicle from participating dealerships.
 </mj-text>
  <mj-button 
    mj-class="cta" 
    padding-bottom="0px"
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
    >BROWSE MODELS
    </mj-button>

    
</mj-column>
</mj-section>
 


        
<mj-section padding="0px" background-color="transparent">
 
  <mj-column background-color="transparent" padding="0px" >
  <!-- RAM 1500 -->
    <mj-image 
 
    mj-class="full-width-image" 
    padding="0px"
    alt="NAMED LUXURY CAR OF THE YEAR” BY CARS.COM1"
    src="img/Ram1500Header2.png" 
        href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=ramtruck&np=1500&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"

 />
     
 <mj-text mj-class="body-text" padding-bottom="0px" padding-top="0px">
 From taking care of business to taking care of family, the Ram 1500 always comes through with proven reliability and long-lasting durability. Step up to the new standard for full-size trucks, offering serious hauling and towing power with unmatched luxury and refinement. 


 </mj-text>
      
 <mj-text mj-class="body-text" padding-bottom="0px">
<ul>
<li><strong style="font-weight:600 !important;">See the difference.</strong> Award-winning Uconnect System.</li>
<li><strong style="font-weight:600 !important;">Solid safety.</strong> Ram 1500 offers over 100 safety and security features.
</li>
</ul>
 </mj-text>
   
  <mj-image 
    padding="20px"
    width="400px"
    alt="2020 Ram 1500,0% FINANCING FOR UP TO 96 MONTHS, PLUS FIRST 3 PAYMENTS ON US, ON SELECT 2020 RAM 1500 MODELS"
    src="img/RAM1500_offer.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=ramtruck&np=1500&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
/>  
   <mj-button 
    mj-class="cta" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=ramtruck&np=1500&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
   
    >HAUL IN MORE
    </mj-button>

    <!--RAM 1500 Classic-->
     <mj-image 
 
    mj-class="full-width-image" 
    padding="0px"
    alt="2020 RAM 1500 Classic, WORK. PLAY. REPEAT. "
    src="img/Ram1500ClassicHeader2.png" 
      href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=ramtruck&np=1500classic&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
   
 />
     
 <mj-text mj-class="body-text" padding-bottom="0px" padding-top="0px">
 Combining bold design and rugged capability, the Ram 1500 Classic gets the job done and looks good doing it. Haul in the truck that redefined the light-duty segment with innovative features, iconic style and uncompromising quality.
 </mj-text>
      
 <mj-text mj-class="body-text" padding-bottom="0px">
<ul>
<li><strong style="font-weight:600 !important;">Secure storage.</strong> Class-Exclusive RamBox<sup>&reg;</sup> Cargo Management System.</li>
<li><strong style="font-weight:600 !important;">Pack in more.</strong> Class-Exclusive in-floor storage bins<sup>2+</sup>.</li>
</ul>
 </mj-text>
   <mj-image 
    padding="20px"
    width="400px"
    alt="25% OFF MSRP, ON ALL 2020 RAM 1500 CLASSIC MODELS"
    src="img/Ram1500classic_Offer.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=ramtruck&np=1500classic&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
/>  
   <mj-button 
    mj-class="cta" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=ramtruck&np=1500classic&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
   
    >DISCOVER BOLD
    </mj-button>
        <!-- Jeep GC section -->
    <mj-image 
 
    mj-class="full-width-image" 
    padding="0px"
    alt="2020 JEEP GRAND CHEROKEE, CLIMB ABOVE THE ORDINARY."
    src="img/Grand_Cherokee_Header2.png" 
        href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=jeep&np=grandcherokee&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"

 />
     
 <mj-text mj-class="body-text" padding-bottom="0px" padding-top="0px">
Make every adventure extraordinary with Jeep Grand Cherokee. Rise to new heights with legendary capability and impressive luxury, including full-leather seating<sup>+</sup> and a heated leather-wrapped steering wheel<sup>+</sup>. Experience the world-class quality of Grand Cherokee and see why it should be at the top of your list.
</mj-text>
      
 <mj-text mj-class="body-text" padding-bottom="0px">
<ul>
<li><strong style="font-weight:600 !important;">The peak of luxury.</strong> Most Luxurious Vehicle in its Class<sup>4</sup>.</li>
<li><strong style="font-weight:600 !important;">The leading choice.</strong> Canada’s Best-Selling Full Size SUV<sup>5</sup>.</li>
</ul>
 </mj-text>
   <mj-image 
    padding="20px"
    width="400px"
    alt="15% OFF MSRP, ON ALL 2020 JEEP GRAND CHEROKEE MODELS"
    src="img/GrandCherokee_offer.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=jeep&np=grandcherokee&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
/> 
   <mj-button 
    mj-class="cta" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=jeep&np=grandcherokee&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
   
    >EXPLORE LUXURY
    </mj-button>

    <!-- Jeep Wrangler section -->
       <mj-image 
 
    mj-class="full-width-image" 
    padding="0px"
    alt="2020 JEEP WRANGLER, FOUR WHEELER’S 2020 SUV OF THE YEAR"
    src="img/Wrangler_Header2.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=jeep&np=wrangler&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"

 />
     
 <mj-text mj-class="body-text" padding-bottom="0px" padding-top="0px">
  Built on nearly 80 years of off-road leadership, the Jeep Wrangler offers the legendary durability and quality you’d expect from this 4x4 icon. 
 Wherever you roam, a well-appointed interior keeps you comfortable, while the Uconnect 4C NAV multimedia centre with 8.4-inch touchscreen<sup>+</sup> and premium GPS navigation<sup>+Ω</sup> keep you on track.

</mj-text>
      
 <mj-text mj-class="body-text" padding-bottom="0px">
<ul>
<li><strong style="font-weight:600 !important;">Unprecedented connectivity.</strong> The Most Technologically Advanced Wrangler Ever<sup>7</sup>.</li>
<li><strong style="font-weight:600 !important;">Smooth operator.</strong> Wrangler offers a remarkably smooth ride and a refined interior.</li>
</ul>
 </mj-text>
   <mj-image 
    padding="20px"
    width="400px"
    alt="10% OFF MSRP,  ON ALL 2020 JEEP WRANGLER MODELS"
    src="img/Wrangler_Offer.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=jeep&np=wrangler&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
/> 
   <mj-button 
    mj-class="cta" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=jeep&np=wrangler&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
   
    >FIND ADVENTURE
    </mj-button>
    <!-- Dodge -->
       <mj-image 
 
    mj-class="full-width-image" 
    padding="0px"
    alt="2020 DODGE GRAND CARAVAN,CANADA’S FAMILY FAVOURITE."
    src="img/Grand_Caravan_Header2.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=dodge&np=grandcaravan&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"

 />
     
 <mj-text mj-class="body-text" padding-bottom="0px" padding-top="0px">
 With its ready-for-anything versatility and trusted reliability, Dodge Grand Caravan has been a family favourite for almost four decades. From adventures to errands, road trips to grocery runs, and everything in between, you can always count on Grand Caravan.  

 </mj-text>
      
 <mj-text mj-class="body-text" padding-bottom="0px">
<ul>
<li><strong style="font-weight:600 !important;">Dodge is tops in quality.</strong> Dodge was ranked the #1 Brand in Initial Quality in the U.S. in the J.D. Power 2020 Initial Quality Study<sup>8</sup>.</li>
<li><strong style="font-weight:600 !important;">Born to innovate.</strong> Incredible flexibility with Class-Exclusive Stow 'n Go<sup>&reg;</sup> Seating<sup>9</sup>.
</li>
</ul>
 </mj-text>
   <mj-image 
    padding="20px"
    width="400px"
    alt="25% OFF MSRP, FOR UP TO $12,050 IN TOTAL DISCOUNTS† ON MOST 2020 GRAND CARAVAN MODELS"
    src="img/GrandCaravan_offer.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=dodge&np=grandcaravan&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"

/>  
   <mj-button 
    mj-class="cta" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&brand=dodge&np=grandcaravan&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
   
    >MEET QUALITY
    </mj-button>
    <!-- Dodge Ends-->
</mj-column>
</mj-section>
 
 

<mj-section  padding="10px 0px" background-color="#ffffff" >
 
<mj-column   background-color="#ffffff" padding="0px" >
 

      <mj-image 
     padding="20px 0px 0px 0px"
   width="600px"
 
    alt="WIN YOUR WHEELS"

    src="img/WYW_Image.png" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%#interstitialContest"
/>     
<mj-image 
     padding="2px 20px 0px 20px"
   width="600px"
 
    alt="WIN YOUR WHEELS"

    src="img/WYW_Title.jpg" 
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%#interstitialContest"
/>   
   <mj-text mj-class="body-text"  padding="20px 20px 5px 20px">
   <strong style="font-weight:600 !important;">You could drive away a winner.</strong><br>
   Enter for a chance to win a voucher worth up to $69,000<sup>*</sup> to be used toward the purchase or lease of a new 2020/2021 Chrysler, Dodge, Jeep, Ram or FIAT vehicle. 
 </mj-text>
    <mj-button 
    mj-class="cta" 
    background-color="#000000"
    padding="20px"
    href="https://www.fcacanada.ca/alloutclearout/en/?srcSrc=EM&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%#interstitialContest"
    >ENTER NOW</mj-button> 
 
<mj-divider  padding="20px 20px 0px 20px" border-width="1px" border-style="solid" border-color="#000000" />
 
  </mj-column>
</mj-section> 

 <mj-wrapper mj-class="bgwhite" padding="30px 0px 0px 0px">
   


   <mj-section padding="0px 20px" mj-class="bgwhite"  >
       <mj-group>
        <mj-column width="10%" padding="0px"></mj-column>  
    <mj-column padding="0px" width="17%" vertical-align="middle">
      <mj-image  
      padding="0px"
      alt="CHRYSLER" 
      src="img/chrysler.jpg"
      href="https://www.chrysler.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
       <mj-column width="5%" padding="0px"></mj-column> 
       <mj-column padding="0px" width="20%" vertical-align="middle">
      <mj-image  
      padding="0px"
      alt="DODGE logo" 
      src="img/dodge.png"
      href="https://www.dodge.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
       <mj-column width="5%" padding="0px"></mj-column> 
      <mj-column padding="0px" width="7%" vertical-align="middle">
      <mj-image  
      padding="0px"
      alt="FIAT logo" 
      src="img/fiat.png"
      href="https://www.fiatcanada.com/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
    <mj-column width="5%" padding="0px"></mj-column> 
       <mj-column padding="0px" width="10%" vertical-align="middle">
      <mj-image 
      padding="0px" 
      alt="Jeep logo" 
      src="img/jeep.jpg"
      href="https://www.jeep.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
    <mj-column width="5%" padding="0px"></mj-column> 
       <mj-column padding="0px" width="7%" vertical-align="middle">
      <mj-image  
      padding="0px"
      alt="RAM logo" 
      src="img/ram.png"
      href="https://www.ramtruck.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
        /> 
      </mj-column>
     <mj-column width="10%" padding="0px"></mj-column> 
  </mj-group>
   </mj-section>

 <mj-section padding="20px 20px 10px 20px" mj-class="bgwhite">
      
        <mj-column padding="0px">
                <mj-button mj-class="footer-cta" href="https://www.jeep.ca/en/build-and-price?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
                >BUILD &amp; PRICE</mj-button>
            </mj-column>
              <mj-column padding="0px">
                <mj-button mj-class="footer-cta" href="https://www.jeep.ca/en/new-inventory/search?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
                >SEARCH INVENTORY</mj-button>
            </mj-column>
            <mj-column padding="0px">
                <mj-button mj-class="footer-cta" href="https://www.jeep.ca/en/dealers?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%"
                >CONTACT A DEALER</mj-button>
            </mj-column>
 </mj-section>

<mj-section background-color="#ffffff" padding="0px">
            <mj-column padding="0px">
                <mj-text mj-class="footer-text">
                1. 2020 Ram 1500 Limited and Laramie Longhorn trims have been named 2020 Luxury Car of the Year by 
                <a href="https://cars.com" style="color:#000000 !important; text-decoration:underline;" target="_blank">cars.com</a>.
 <br><br>
2. Based on Automotive News Full-size Pickup segmentation. Excludes other vehicles designed and manufactured by FCA US LLC.
 <br><br>
3. Jeep Grand Cherokee has received more awards over its lifetime than any other SUV.
 <br><br>
4. Based on WardsAuto Middle/Sport Utility segmentation. Excludes other vehicles designed and manufactured by FCA US LLC. Based on Summit model offerings.
 <br><br>
5. Based on IHS Markit Total Canadian New Vehicle Registrations for the Full-Size SUV Segment from CY2014 through September 2019.
 <br><br>
6. 2020 Jeep Wrangler Rubicon EcoDiesel has been named SUV of the Year by Four Wheeler.
 <br><br>
7. Based on WardsAuto Small Sport Utility segmentation and Small Cross/Utility segmentation.
 <br><br>
8. Dodge received the lowest rate of reported problems among all nameplates in a tie in the J.D. Power 2020 U.S. Initial Quality Study of new vehicle owners’ experience with their own vehicle after 90 days of ownership. Visit <a href="https://jdpower.com/awards" target="_blank" style="color:#000000;text-decoration:underline;">jdpower.com/awards</a>.
 <br><br>
9. Based on the latest available competitive information for minivans in the WardsAuto Small Van segment. Excludes other vehicles designed and manufactured by FCA US LLC.
 <br><br>
^ 25% off MSRP discount available on the purchase of all in-stock 2020 Ram 1500 Classic models. Discounts are calculated based on MSRP plus options, freight, A/C and tire charge and will be deducted from the negotiated price before taxes. This discount cannot be combined with any other bonus cash/consumer cash offers or with low rate financing. Offer ends November 2, 2020. 
 <br><br>
¤ 0% financing up to 96 months available on all 2020 Ram 1500 models on approved credit through RBC, Scotiabank and TD Auto Finance. Example: 2020 Ram 1500 Sport Crew Cab with a <strong style="font-weight:600 !important;">$71,950</strong> purchase price with a $0 down payment financed at 0% for 96 months equals 96 monthly payments of $749.48 with a $0 cost of borrowing. License, registration, insurance, RDPRM registration fees (up to $75.75, including registering agent fees, where applicable), specific duty on new tire fees (up to $15) and applicable taxes are extra and will be due at signing. A deposit may be required. Dealer trade may be necessary (where applicable), but may not be available in all cases. Dealer may sell or lease for less. See your participating dealer for details and conditions. Offer ends November 2, 2020.
  <br><br>
**The program consists of $2,250 (before tax) cash rebate on the retail purchase, lease or finance of a 2020 Ram 1500 model. Customers are required to make all scheduled monthly lease or finance payments to their bank but may elect to receive from an authorized dealer an amount equal to $750 per month for the first three months ($2,250 in total) which may be used by Customers to pay any lease or financing payments. Eligible customers can elect to apply the $2,250 cash rebate to the purchase (before tax) to reduce the purchase price and/or monthly payments. Offer ends November 2, 2020. 
 <br><br>
<img src="img/diamond.png" width="6" style="display:inline-block;">&nbsp; 15% off MSRP discount available on the purchase of all in-stock 2020 Jeep Grand Cherokee models. Discounts are calculated based on MSRP plus options, freight, A/C and tire charge and will be deducted from the negotiated price before taxes. This discount cannot be combined with any other bonus cash/consumer cash offers or with low rate financing. Offer ends November 2, 2020. 
 <br><br>
† 10% off MSRP discount available on the purchase of all in-stock 2020 Jeep Wrangler models. Discounts are calculated based on MSRP plus options, freight, A/C and tire charge and will be deducted from the negotiated price before taxes. Limited quantities. While supplies last. This discount cannot be combined with any other bonus cash/consumer cash offers or with low rate financing. Offer ends November 2, 2020. 
 <br><br>
‡ Up to 25% off MSRP discount available on the purchase of most in-stock 2020 Dodge Grand Caravan models. Discounts are calculated based on MSRP plus options, freight, A/C and tire charge and will be deducted from the negotiated price before taxes. This discount cannot be combined with any other bonus cash/consumer cash offers or with low rate financing. Offer ends November 2, 2020. 
 <br><br>
Ω Never program while driving. GPS mapping and available 3D navigation may not be detailed or available in all areas or reflect current road regulations.
 <br><br>
+ Available.
 <br><br>
* No purchase necessary. One Grand Prize of a $69,000 voucher towards the purchase or lease of an FCA vehicle will be awarded in a random draw. Enter at 
<a href="https://forms.chryslercanada.ca/contests/winyourwheels/en/contest.php" style="color:#000000;text-decoration:underline">www.winyourwheelscontest.ca</a> by December 31, 2020. Entrants must be over the age of majority. Limit: one standard entry per person.
 <br><br>

Chrysler, Dodge, Jeep, Ram and RamBox are registered trademarks of FCA US LLC, used under license by FCA Canada Inc. FIAT is a registered trademark of Fiat Group Marketing & Corporate Communication S.p.A., used under license by FCA US LLC. All other trademarks, service marks, images and logos are property of their respective owners and are displayed in this publication with permission. All Rights Reserved. ©2020 FCA Canada Inc.

 <br><br>
FCA Canada Inc., P.O. Box 1621, Windsor, ON N9A 4H6 Canada 
<a target="_blank" 
href="https://www.fcagroup.com/en-us/group/regions/pages/northamerica.aspx?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%" 
style="color:#000000;text-decoration:underline;">www.fcanorthamerica.com</a>.
<br /><br />
At FCA Canada Inc. we value your privacy. If you no longer wish to receive our marketing emails, <a target="_blank" 
href="https://www.preferences.chryslercanada.ca/en/subscription.html?#CONSUMER_EMAIL=%%Email%%&campaignID=%%CampaignID%%&utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%" style="color:#000000;text-decoration:underline">click&nbsp;here</a> to 
opt-out or manage your email communication preferences. 
To review our privacy policy, <a target="_blank" href="http://www.fcacanada.ca/privacy/?utm_medium=Email&utm_source=CRM&utm_campaign=%%UTM_CAMPAIGN%%&utm_content=%%UTM_CONTENT%%%%CRS%%" style="color:#000000;text-decoration:underline" >click&nbsp;here</a>. For additional assistance, contact The New Vehicle Information Centre at <a target="_blank" href="tel:18003613700" style="color:#000000;text-decoration:none">1-800-361-3700</a>.
                </mj-text>
                <mj-text mj-class="footer-text" align="right" padding="30px 20px">%%VIN%%</mj-text>
                <mj-raw> 
                <!-- 2020OctoberDealerEventReminder_QBC_EN-->
<style data-ignore-inlining>@media print{ #_t {background-image:url('https://gkbnyegp.emltrk.com/gkbnyegp?p&d=%%Email%%');}} div.OutlookMessageHeader {background-image:url('https://gkbnyegp.emltrk.com/gkbnyegp?f&d=%%Email%%')} table.moz-email-headers-table {background-image:url('https://gkbnyegp.emltrk.com/gkbnyegp?f&d=%%Email%%')} blockquote #_t {background-image:url('https://gkbnyegp.emltrk.com/gkbnyegp?f&d=%%Email%%')} #MailContainerBody #_t {background-image:url('https://gkbnyegp.emltrk.com/gkbnyegp?f&d=%%Email%%')}</style><div id="_t"></div>
<img src="https://gkbnyegp.emltrk.com/gkbnyegp?d=%%Email%%" width="1" height="1" border="0" alt="" />
 
                 </mj-raw>
            </mj-column>
        </mj-section>
  </mj-wrapper>
    </mj-body>
</mjml>
