<head> <style>body{background: #D52536; background-image: url(./pub.svg); background-repeat: no-repeat; background-position: center; background-size: auto 70%; font-family: system-ui; color: #fff; font-weight: 500; font-size: 16px; padding: 40px; line-height: 1em;}a{color: #fff;}</style></head><body>  <h1 class="index__title">SEPTEMBER DEALER EVENT 2020</h1>
  <section class="index__section">
    <ul class="index__list">
      <li class="index__item"><a class="index__item-link" href="Multibrand_QBC_FR/index.html">Multibrand_QBC_FR</a></li></ul>
  </section>

  <section class="index__section">
    <ul class="index__list">
      <li class="index__item"><a class="index__item-link" href="Multibrand_ROC_EN/index.html">Multibrand_ROC_EN</a></li></ul>
  </section>
</body>
